<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783293083438-n3kdtgpclmsu7lunjpo5eb8n2ttlfuht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783293083438-n3kdtgpclmsu7lunjpo5eb8n2ttlfuht</string>
	<key>API_KEY</key>
	<string>AIzaSyCFTIOX2bAcga7KmrZi3hcvWZuFluJWgbg</string>
	<key>GCM_SENDER_ID</key>
	<string>783293083438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitcoinwallet.ios</string>
	<key>PROJECT_ID</key>
	<string>bitcoin-wallet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoin-wallet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783293083438:ios:2a8de591af2800802894bf</string>
	<key>DATABASE_URL</key>
	<string>https://bitcoin-wallet-app.firebaseio.com</string>
</dict>
</plist>